.formContent {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.formContent h2 {
    align-self: center;
    margin: 0.625rem 0;
}

.field {
    font-weight: 600;
    font-size: clamp(1rem, 0.9722rem + 0.2222vw, 1.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.563rem;
}

.field textarea, .field input {
    border: 2px solid; 
    border-radius: 5px; 
    font-size: clamp(0.875rem, 0.845rem + 0.24vw, 1.25rem);
    padding: 9px;
}

.field textarea {
    min-height: 150px;  
}
