.site-header {
  width: 100%;
  text-align: center;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  padding: 5px 12px;
  background-color: var(--main-green);
}

.site-title {
  margin: 0;
}

.title-link {
  color: white;
  text-decoration: none;
}

.nav-desktop {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 7px 57.2px rgba(0, 0, 0, 0.25);
}

.menu-btn {
  display: none;
  width: 40px;
  height: 32px;
  background: none !important;
  border: none;
  cursor: pointer;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-btn.open span:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}

.menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.menu-btn.open span:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

.nav-mobile {
  display: none;
}

@media (max-width: 900px) {

    .menu-btn {
    display: flex;
  }
  
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: none;
    background: white;
    box-shadow: 0px 7px 57.2px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
  }

  .nav-mobile.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-mobile .nav-link {
    margin: 10px 16px;
  }
}

@media (max-width: 540px) {
.menu-btn {
  padding: 0 !important;
}
}
